.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.signin-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.login-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form input{
    padding: 20px;
    border: none;
    outline: none;
    background-color: rgba(17,25,40, 0.5);
    color: white;
}

button{
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #1f8ef1;
    color: white;
    cursor: pointer;
}

.sperator{
    height: 90%;
    width: 2px;
    background-color: grey;
}