.container{
  width: 90vw;
  height: 90vh;
  background-color: aliceblue;
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid ;
  display: flex;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}
